@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary-color: #5C80BC;
  --secondary-color: #2E3138;
  --accent1-color: #EDF2F4;
  --accent2-color: #60463B;
  --heading-font: "PT Serif", serif;
  --paragraph-font: "PT Serif", serif;
  --headline-color-on-white: black;
  --headline-color-on-color: #60463B;
  --paragraph-color-on-white: #2E3138;
  --paragraph-color-on-color: #EDF2F4;
  --paragraph-background-color: #EDF2F4;
  --nav-link-color: #5C80BC;
  --nav-background-color: #5C80BC;
  --nav-hover-link-color: #60463B;
  --nav-hover-background-color: #60463B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--paragraph-font);
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: var(--secondary-color);
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
  height: 100px;
  padding-left: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

nav a {
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  background-color: var(--accent1-color);
  color: #258EA6;
}

#homepage, #aboutme-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  flex: 1;
}

#background {
  background-color: #5C80BC;
  flex: 1;
}

.big-img {
  height: 500px;
}

main p {
  text-align: center;
}

#title-text {
  text-align: center;
}

footer {
  background-color: var(--secondary-color);
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

footer p {
  font-size: 24px;
  color: black;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: black;
  text-decoration: underline;
}

.social img {
  width: 80px;
  padding-top: 15px;
}
